{% load blog_tags %}
{% load humanize %}
{% for post in posts %}
<div class="col-md-4">
    <div class="blog-entry">
        <div class="blog-img">
            <a href="#"><img src={{post.image.url}} class="img-responsive" alt="html5 bootstrap template"></a>
        </div>
        <div class="desc">
            <p>
                {% for cat in post.category.all %}
                <span class="cat"><a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a></span>{% if not forloop.last %},{% endif %}
                {% endfor %}
                <span class="date">{{ post.publish_date|naturaltime }}</span>
                <span class="pos">By <a href="{% url 'blog:author' author_username=post.author.username %}">{{ post.author}}</a></span>
            </p>
            <h2><a href="{% url 'blog:single' pid=post.id %}">{{ post.title }}</a></h2>
            <p>{{ post.content|truncatewords:30|safe }}</p>
        </div>
    </div>
</div>
{% endfor %}
