anyio==3.6.1
asgiref==3.5.2
bleach==5.0.1
Django==3.2.15
django-summernote==0.8.20.0
django-taggit==3.0.0
idna==3.3
Pillow==9.2.0
python-dotenv==0.20.0
pytz==2022.1
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
watchfiles==0.16.1
webencodings==0.5.1
